{% extends 'timescale/navbaremp.html' %}
{% block content%}
<!-- Content Start -->
<!-- Chart Start -->

<div class="container-fluid pt-4 px-4">
    <div class="row vh-100 bg-light rounded align-items-center justify-content-center mx-0">
        <div class="col-md-6 text-center p-4">
            <i class="bi bi-emoji-smile text-primary"></i>
            <h4 class="display-6 fw-bold">Your Feedback Is Registered Successfully!</h4>

            <p class="mb-4">You will receive following updates on your Email Address.</p>
            <p class="fw-bold">Thank You!</p>
            <a class="btn btn-primary rounded-pill py-3 px-5" href="/Emppage">Go Back To Home</a>
        </div>
    </div>
</div>

<!-- Content End -->
{% endblock %}